include README.md
include LICENSE
include requirements.txt
recursive-include obsidianpilot *.py
recursive-include obsidianpilot py.typed
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store